@import '../../index.scss';

.mainTitle {
    margin: 15px;

    h2 {
        text-align: center;

        .selectedOption {
            background-color: $primary;
            border-radius: 10%;
            padding: 3px;
        
            font-size: 1.5rem;
        
            font-style: italic;
        
            text-decoration: underline;    
        }
    }
}


@media screen and (min-width: 920px){
    .mainTitle {
        width: 35vw;
        margin: 24px auto;   
    }    
}

