.modal {
    background-color: red;

    padding: 50px;

    z-index: 1000;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);

    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fadeout {
    opacity: 0;
    transition: all 250ms linear 2s; // <- the last value defines transition-delay
  }